:root{
    --speed: 0.2s;
}
body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: black;
    text-decoration: none;
    transition: all var(--speed);
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}
#header{
    background: blue;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
#content{
    background: green;
}
#footer{
    background: red;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}